/* ==UserStyle==
@name           Shadow Pages (Hide your webpage)
@namespace      kckarnige.is-a.dev
@version        2.0.0
@description    Great for discouraging prying eyes
@author         KayoticCarnige
==/UserStyle== */

body:before {
	background: #000000d3 !important;
	content: " ";
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 99999999999;
	pointer-events: none;
	margin: 0;
	display: flex;
	justify-content: center;
}
